REST generator should gracefully handle the lack of `Content-Type`

[RFC 2616, section 7.2.1 says](https://tools.ietf.org/html/rfc2616#section-7.2.1):

> Any HTTP/1.1 message containing an entity-body SHOULD include a
   Content-Type header field defining the media type of that body. If
   and only if the media type is not given by a Content-Type field, the
   recipient MAY attempt to guess the media type via inspection of its
   content and/or the name extension(s) of the URI used to identify the
   resource. If the media type remains unknown, the recipient SHOULD
   treat it as type "application/octet-stream".
   
Since the REST generator does not support having different deserializer for different content-type, it should always assume that it got the correct one. Currently it throws an `Exception` (which triggers other issues down the road).

Actually... In our case, our server answers to a `POST` with:
```
HTTP/1.1 200 OK
X-Powered-By: Express
Access-Control-Allow-Origin: *
Access-Control-Allow-Credentials: true
Date: Mon, 18 Jan 2021 07:30:38 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Content-Length: 0
```

So in this case, there's no content, so there's no need for a content type (and the return value of the method is `void`).

The fix is luckily easy, I'm just tracking a bug that triggered as a consequence of the mismatch before submitting the PR.